In [1]:
import pandas as pd

In [123]:
hip_hop_death = pd.read_html('https://en.wikipedia.org/wiki/List_of_murdered_hip_hop_musicians')

In [137]:
hip_hop_death[0].shape

(60, 6)

In [138]:

type(hip_hop_death)

list

In [235]:
hip_hop_death_df = pd.DataFrame({
    'name': hip_hop_death[0]['Name'],
    'death_date': hip_hop_death[0]['Date of death'],
    'age': hip_hop_death[0]['Age at death'],
    'death_location': hip_hop_death[0]['Location of death'],
    'death_cause': hip_hop_death[0]['Cause of death']
})

In [236]:
hip_hop_death_df.death_date = pd.to_datetime(hip_hop_death_df.death_date)

In [237]:
hip_hop_death_df.head()

,name,death_date,age,death_location,death_cause
0,Scott La Rock,1987-08-27,25,"New York City, New York, U.S.",Shooting
1,Paul C,1989-07-17,24,"New York City, New York, U.S.",Shooting
2,"Danny ""D-Boy"" Rodriguez",1990-10-06,22,"Dallas, Texas, U.S.",Shooting
3,Charizma,1993-12-16,20,"Milpitas, California, U.S.",Shooting
4,Stretch,1995-11-30,27,"New York City, New York, U.S.",Shooting

In [238]:
hip_hop_death_df['year'] = hip_hop_death_df.death_date.dt.year

In [239]:
hip_hop_death_df['country'] = hip_hop_death_df['death_location'].str.split(',').str[-1]

In [240]:
hip_hop_death_df['state'] = hip_hop_death_df['death_location'].str.split(',').str[-2]

In [241]:
hip_hop_death_df.head()

,name,death_date,age,death_location,death_cause,year,country,state
0,Scott La Rock,1987-08-27,25,"New York City, New York, U.S.",Shooting,1987,U.S.,New York
1,Paul C,1989-07-17,24,"New York City, New York, U.S.",Shooting,1989,U.S.,New York
2,"Danny ""D-Boy"" Rodriguez",1990-10-06,22,"Dallas, Texas, U.S.",Shooting,1990,U.S.,Texas
3,Charizma,1993-12-16,20,"Milpitas, California, U.S.",Shooting,1993,U.S.,California
4,Stretch,1995-11-30,27,"New York City, New York, U.S.",Shooting,1995,U.S.,New York

In [244]:
hip_hop_death_df['country'] = hip_hop_death_df['country'].str.strip().replace({'U.S.': 'USA'})

In [247]:
hip_hop_death_df.head()

,name,death_date,age,death_location,death_cause,year,country,state
0,Scott La Rock,1987-08-27,25,"New York City, New York, U.S.",Shooting,1987,USA,New York
1,Paul C,1989-07-17,24,"New York City, New York, U.S.",Shooting,1989,USA,New York
2,"Danny ""D-Boy"" Rodriguez",1990-10-06,22,"Dallas, Texas, U.S.",Shooting,1990,USA,Texas
3,Charizma,1993-12-16,20,"Milpitas, California, U.S.",Shooting,1993,USA,California
4,Stretch,1995-11-30,27,"New York City, New York, U.S.",Shooting,1995,USA,New York

In [248]:
hip_hop_death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            60 non-null     object
 1   death_date      60 non-null     datetime64[ns]
 2   age             60 non-null     int64
 3   death_location  60 non-null     object
 4   death_cause     60 non-null     object
 5   year            60 non-null     int64
 6   country         60 non-null     object
 7   state           60 non-null     object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 3.9+ KB

In [252]:
hip_hop_death_df.to_csv('../2_analysis/clean_hip_hop_singers_death.csv', index=False)